*{
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
  }
  body {
    position: relative;
    background-color: black;
  }
  header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 8%;
    transition: 1s;
    z-index: 99999999;
    padding: 0 2rem;
  }
  a{
    text-decoration: none;
    color: #ffffff;
  }
  li{
    list-style: none;
  }
  ::-webkit-scrollbar {
    width: 0.5em;
  }
  ::-webkit-scrollbar-track {
    background-color: #000000;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #8888881a;
    border-radius: 20px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  .navbar{
    z-index: 99;
    font-weight: 500;
    width: 100%;
    height: 50px;
    max-width: 1200px;
    padding-top: 10px;
    position: fixed;
    display: flex;
    transform: translate(-50%, 0%);
    left: 50%;
    justify-content: space-between;
    align-items: center;
  }
  .logo{
    transform: translateY(-3px);
  }
  .navbar .logo a{
    font-size: 1.5rem;
    line-height: 5;
    font-weight: bold;
  }
  .branco{
    color: black!important;
    background-color: white!important;
  }
  .branco a{
    color: black!important;
  }
  .branco .logo img,.branco .fa-bars{
    filter: invert(1);
  }
  .navbar .logo a:hover{
    color: #ffffff;
  }
  .navbar .links{
    display: flex;
    gap: 4.8rem;
    margin-left: -10px;
  }
  
  .navbar .toggle_btn{
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
  }
  .navbar img{
    transform: translateY(18px);
  }
  .nav_icons{
    display: flex;
  }
  .action_btn{
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
  } 

  .dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    height: 0;
    top: 60px;
    width: 300px; 
    background: rgba(4, 29, 58, 0.582);
    backdrop-filter: blur(15px);
    border-radius: 15px;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    overflow: hidden;
  }
  
  .dropdown_menu.open{
    height: 150px;
  }
  
  .dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  canvas {
    position: absolute;
    max-width: 100%;
    top:0;
    left:0;
    z-index: -1;
  }
  .dropdown-content{
    display: none;
  }
  #categorias{
    position: relative;
  }
  .dropdown-content {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 74%;
    left: 44%;
    background-color: white;
    color: black;
    padding: 15px 5px 15px 20px;
    width: 10%;
    justify-content: center;
    border-radius: 10px;
  }

  #categorias:hover ~ .dropdown-content,
  .dropdown-content:hover {
    display: flex;
  }
  .dropdown__itens{
    color: black;
  
    padding: 5px;
  }
  #produtos{
    background-color: black;
    margin-top: 7%;
    height: 100vh;
  }
  .produtos__titulo{
    color: white;
    margin-top: 40px;
    font-size: 30px;
    letter-spacing: 2px;
    text-align: center;
  }
  .item{
    text-align: left!important;
    margin-left: 10%;
  }
  .sublinhado{
    width: 95px;
    height: 2px;
    background-color: white;
    margin: 20px auto;
  }
  #telescopios, #microscopios, #lunetas{
    margin: 10px 0px 15px 10%;
  }
  .swiper {
    width: 95%;
    height: 95%;
  
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: calc((100% - 30px) / 2) !important;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .produtos__itens{
    height: 100%;
    margin: 80px auto;
  }
  .slide__title{
    font-size: 20px;
    margin-top: 10px;
    font-weight: 500;
  }
  .slide__money{
    font-size: 20px;
    font-weight: 500;
    font-weight: 600;
  }
  .swiper-button-next,.swiper-button-prev{
    color: rgb(141, 141, 140)
  
  }
  .voltar{
    position: fixed;
    bottom: 50px;
    right: 2%;
    background-color: orange;
    padding: 18px;
    z-index: -5;
    border-radius: 50%;
    
  }
  .show{
    z-index: 5;
    transition: all 1s ease;
  }
  .slide__button{
    padding: 10px 20px;
    font-size: 15px;
    margin-top: 2px;
    font-weight: 500;
    border: 1px solid white;
    background: black;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  .slide__button:hover{
    transform: scale(1.05);
  }

  @media(min-width:1700px){
    header{
      height: 6%;
    }
  }

  @media(max-width: 1024px){
    .navbar .links,
    .navbar .action_btn{
        display: none;
    }
  
    .navbar .toggle_btn{
        display: block;
    }
  
    .dropdown_menu{
        display: block;
    }
  }
  
  @media(max-width: 640px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
    .text-box {
      font-size: 35px;
      letter-spacing: 5px;
      word-spacing: 10px;
    }
    .button {
      font-size: 12px;
      padding: 10px;
      margin-left:10px;
      margin-right:10px;
      word-spacing: normal;
      letter-spacing: 3px;
    }
  }