*{
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
  }
  body {
    position: relative;
    background-color: black;
  }
  header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 8%;
    transition: 1s;
    z-index: 99999999;
    padding: 0 2rem;
  }
  a{
    text-decoration: none;
    color: #ffffff;
  }
  li{
    list-style: none;
  }
  ::-webkit-scrollbar {
    width: 0.5em;
  }
  ::-webkit-scrollbar-track {
    background-color: #000000;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #8888881a;
    border-radius: 20px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  .navbar{
    z-index: 99;
    font-weight: 500;
    width: 100%;
    height: 50px;
    max-width: 1200px;
    padding-top: 10px;
    position: fixed;
    display: flex;
    transform: translate(-50%, 0%);
    left: 50%;
    justify-content: space-between;
    align-items: center;
  }
  .logo{
    transform: translateY(-3px);
  }
  .navbar .logo a{
    font-size: 1.5rem;
    line-height: 5;
    font-weight: bold;
  }
  .branco{
    color: black!important;
    background-color: white!important;
  }
  .branco a{
    color: black!important;
  }
  .branco .logo img,.branco .fa-bars{
    filter: invert(1);
  }
  .navbar .logo a:hover{
    color: #ffffff;
  }
  .navbar .links{
    display: flex;
    gap: 2rem;
    margin-left: -10px;
  }
  
  .navbar .toggle_btn{
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
  }
  #categorias{
    padding-left: 55px;
  }
  .navbar img{
    transform: translateY(18px);
  }
  .nav_icons{
    display: flex;
  }
  .action_btn{
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
  } 

  /* Menu drop */
  .dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    height: 0;
    top: 60px;
    width: 300px; 
    background: rgba(4, 29, 58, 0.582);
    backdrop-filter: blur(15px);
    border-radius: 15px;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    overflow: hidden;
  }

  .dropdown_menu.open{
    height: 150px;
  }

  .dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dropdown_menu>li>a{
    color: white!important;
  }

  .dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
  }

  canvas {
    position: absolute;
    max-width: 100%;
    top:0;
    left:0;
    z-index: -1;
  }
  .dropdown-content{
    display: none;
  }
  #categorias{
    position: relative;
  }
  .dropdown-content {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 74%;
    left: 44%;
    background-color: white;
    color: black;
    padding: 15px 5px 15px 20px;
    width: 10%;
    justify-content: center;
    border-radius: 10px;
  }

  #categorias:hover ~ .dropdown-content,
  .dropdown-content:hover {
    display: flex;
  }
  .dropdown__itens{
    color: black;
  
    padding: 5px;
  }
.main__conteudo{
    margin: 100px auto 80px auto;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr; 
    gap: 5em;
}
.main__form{
    display: grid;
    justify-content: center;
    row-gap: .7em;
    column-gap: 1em;
    grid-template-areas: 
    "titulo titulo"
    "first-name last-name"
    "first-name-input last-name-input"
    "email email"
    "email-input email-input"
    "subject subject"
    "subject-input subject-input"
    "message message"
    "message-input message-input";
}
.main__conteudo form h2{
    grid-area: titulo;
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 50px;
}
input{
    height: 40px;
    width: 230px;
    font-size: 1.2em;
    border-radius: 30px;
    outline: none;
    border: none;
    font-family: 'Raleway', sans-serif;
    padding: 0px 15px;
    border: 1px solid #adadad;
    color: #696969;
    transition: .3s;
}
textarea{
    font-size: 1.2em;
    color: #696969;
    border-radius: 30px;
    outline: none;
    border: none;
    min-height: 200px;
    padding: 10px 15px 0px 15px;
    border: 1px solid #adadad;
    
}
textarea:focus{
    border: 1px solid #bd0707;
}
input:focus{
    border: 1px solid #bd0707;
}
label{
    font-size: 1.3em;
    font-weight: 400;
    color: white;
}
#submit{
    letter-spacing: .1em;
    padding: 23px 50px 23px 20px;
    border-radius: 30px;
    border: none;
    line-height: 3px;
    outline: none;
    background-color: #ffffff;
    color: black;
    font-size: .75em;
    font-weight: 300;
    width: 150px;
    cursor: pointer;
    transition: .3s;
    margin-bottom: 80px;
    border: 1px solid black;
}
#submit:hover{
    background-color: #000000;
    border: 1px solid #ffffff;
    color: white;
}
#firstNameLbl{
    grid-area: first-name;
}
#lastNameLbl{
    grid-area: last-name;
}
#emailLbl{
    grid-area: email;
}   
#subjectLbl{
    grid-area: subject;
}
#messageLbl{
    grid-area: message;
}
#firstName{
    grid-area: first-name-input;
    font-family: 'Raleway', sans-serif;
}
#lastName{
    grid-area: last-name-input;
    font-family: 'Raleway', sans-serif;
}
#email{
    grid-area: email-input;
    width: 94%;
    font-family: 'Raleway', sans-serif;
}
#subject{
    grid-area: subject-input;
    width: 94%;
    font-family: 'Raleway', sans-serif;
}
#message{
    grid-area: message-input;
    resize: vertical;
    font-family: 'Raleway', sans-serif;
}
@media(min-width:1700px){
  header{
    height: 6%;
  }
}

@media(max-width: 1024px){
  .navbar .links,
  .navbar .action_btn{
      display: none;
  }

  .navbar .toggle_btn{
      display: block;
  }

  .dropdown_menu{
      display: block;
  }
}

@media(max-width: 640px){
  .dropdown_menu{
      left: 2rem;
      width: unset;
  }
  .text-box {
    font-size: 35px;
    letter-spacing: 5px;
    word-spacing: 10px;
  }
  .button {
    font-size: 12px;
    padding: 10px;
    margin-left:10px;
    margin-right:10px;
    word-spacing: normal;
    letter-spacing: 3px;
  }
}